.basketModalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  max-width: 1000px;
  width: 100%;

  display: flex;
  justify-content: space-between;

  background-color: white;
  padding: 55px 70px 25px 70px;
  border: 1px solid #46a358;
  border-radius: 10px;
  box-sizing: border-box;
}

.basketCart {
  position: relative;
  display: flex;
  align-items: center;

  border: 1px solid #46a358;
  border-radius: 10px;

  max-width: 300px;
  width: 100%;

  > img {
    max-width: 80px;
  }
}

.basketCartBox {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.infoBoxBasket {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
  max-width: 500px;
  /* width: 100%; */

  > p {
    font-size: 20px;
    color: rgb(103, 103, 103);
  }

  > h4 {
    font-size: 26px;
  }

  > button {
    margin-top: 10px;
    padding: 10px 50px;
    width: 140px;
    background-color: #46a358;
    border: 1px solid #4bb05f;
    color: white;
    border-radius: 5px;
  }
}
.closeModalBasketBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;

  background: none;
  border: none;
}

.deleteProduct {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;

  background: none;
  border: none;
}

.countBox {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  border: 0.7px solid rgb(144, 144, 144);

  position: absolute;
  bottom: -2px;
  right: -2px;
}

.basketEmpty {
  display: flex;
  justify-content: center;

  width: 100%;

  > p {
    color: red;
    font-weight: 600;
    font-size: 30px;
  }
}
